/* Make the page responsive */


/** Breakpoints
 *
 *  Less than 768px;
 *  project 100% width
 *  navigation hidden, uses toggle and full screen overlay 
 *  header size is reduced.
 *
 *  768px;
 *
 *  Project Grid Goes to two wide 
 * 
 *  1025px;
 *  
 *  Nav bar expands
 *
 *  1200px;
 *
 *  project grid goes to 4 wide.
 *
 **/