.features {
  background-color: $bg-slightwhite;

  .featuresContainer {
    position: relative;
    
    @media all and (max-width: 991px) {
      padding-left: 30px;
      padding-right: 10px;
    }
  }
}