.testimonial {
  background-color: $bg-purple;
  padding-left: 12%;
  padding-right: 12%;

  @media all and (max-width: 750px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @media all and (min-width: 750px) and (max-width: 991px) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @media all and (min-width: 992px) and (max-width: 1300px) {
    padding-left: 10%;
    padding-right: 10%;
  }
}