.screenshots {
  background: $bg-darkgrey;

  // Screenshots Owl-carousel customisations
  #carouselTwo {

    .owl-stage-outer {
      padding-top: 30px;
      padding-bottom: 30px;
    }
      
    .owl-stage .owl-item {

      
      .screenshotImage {
        box-shadow: 0px 0px 30px #000;
        overflow: visible;
        
        @media all and (max-width: 685px) {
          box-shadow: none;
          padding: 0 30px;
        }
      }

      transform: scale(0.85);
      transition: transform 0.3s ease-in-out;
    }
    .owl-stage .owl-item.active.center {
      transform: scale(1);
    }
    .owl-carousel .owl-stage-outer {
      overflow: visible;
    }
    .owl-item { 
      img {
        border-radius: 5px;
      }
    }
  }

}