.screenshots {
  background: $bg-darkgrey;

  // Customise owl carousel dot styles
  .owl-dots {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .owl-carousel.owl-theme .owl-dots .owl-dot span {
    background-color: $font-lightgrey;
  }
  .owl-carousel.owl-theme .owl-dots .owl-dot.active span, 
  .owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
    background-color: $dot-background-active;
    border: 2px solid #fff;
  }

  // Screenshots Owl-carousel customisations
  #carouselTwo {

    .owl-stage-outer {
      padding-top: 30px;
      padding-bottom: 30px;
    }
      
    .owl-stage .owl-item {

      .screenshotImage {
        box-shadow: 0px 0px 30px #000;
        overflow: visible;
      }

      transform: scale(0.85);
      transition: transform 0.3s ease-in-out;
    }
    .owl-stage .owl-item.active.center {
      transform: scale(1);
    }
    .owl-carousel .owl-stage-outer {
      overflow: visible;
    }
    .owl-item { 
      img {
        border-radius: 5px;
      }
    }
  }

}