.featureGroup {

  .tour & {
    & {
      padding: 25px;
    }
    &.alt,
    &:first-child {
      padding: 50px 0 25px 0;
    }
    &:last-child {
      padding: 25px 0 50px 0;
    }
    &.alt {
      @media all and (min-width: 992px) {
        position: relative;
        height: 600px;
        width: 100%;
        
        .imgContainer,
        .textContainer {
          position: absolute;
        }
        .imgContainer {
          right: 10%;
        }
        .textContainer {
          left: 10%;
        }
      }
    }
  }

  .imgContainer,
  .textContainer {
    display: inline-block;

    .tour & {
      @media all and (max-width: 991px) {
        display: block;
      }
    }

    .home & {
      @media all and (max-width: 695px) {
        display: block;
      }
    }
  }
  .imgContainer {
    min-height: 700px;
    max-height: 100%;
    width: 30%;

    .home & {
      padding: 0 10% 0 2%;
    }

    &.alt {
      padding: 0 2% 0 10%;
    }

    .tour & {

      @media all and (max-width: 991px) {
        display: block;
        min-width: 70%;
        height: auto;
        margin: 0 auto;

        &.alt {
          padding: 2% 10% 2% 2%;
        }
      }
    }

    img {
      object-fit: contain;
      .home & {
        max-height: 750px;
      }

      .tour & {
        box-shadow: 0px 0px 40px #919191;
        max-height: 450px;
      }
    }
  }
  .textContainer {
    vertical-align: top;
    width: 40%;
    margin-left: 6.5%;

    .tour & {

      @media all and (max-width: 991px) {
        display: block;
        
        min-width: 70%;
        max-width: 800px;
        height: auto;
        margin: 0 auto 50px auto;
      }
    }

    .tour & {
      
      @media all and (max-width: 695px) {
        display: block;
        
        min-width: 70%;
        max-width: 600px;
        height: auto;
        margin: 0 auto 50px auto;
      }
    }
  }

  .textGroupOne {
    text-align: left;

    h2 {
      color: #000;
      font-size: 40px;
      font-weight: 400;
    }

    p {
      color: $font-lightgrey;
      font-size: $main-font-size;
      line-height: 30px;
    }
  }

  // Hero feature group styles
  .home & {
    h2 {
      font-weight: 700;
      margin-bottom: 20px;
      margin-top: 0;
      color: #fff;
      font-size: 50px;
      line-height: 50px;
      color: #fff;
    }
    
    p {
      font-size: 30px;
      line-height: 30px;
      line-height: 42px;
      font-weight: 100;
      margin-bottom: 30px;
      color: white;
    }

    @media all and (max-width: 695px) {
      .textGroupOne {
        width: 100%;
      }
      h2 {
        font-size: 30px;
      }
      p {
        font-size: 24px;
      }
    }
  }
}


