.subheader { 
  padding-top: 70px;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 50px;
  line-height: 46px;
  
  .screenshots & {
    margin-bottom: 0;
  }

  h3 {
    text-transform: uppercase;
    font-family: $header-font;
    font-size: $header-font-size;
    font-weight: 300;
    color: $font-faded;
    margin: 100px 0 20px 0;

    .screenshots &,
    .testimonial & {
      color: #fff;
    }

  }
  
  h4 {
    font-family: $main-font;
    font-size: $subheader-font-size;
    font-weight: 300;
    color: $font-lightgrey;
    
    margin: 20px 0;
    
    .testimonial & {
      color: #fff;
      color: rgba(255, 255, 255, 0.5)
    }
  }
}