.subheader { 
  padding-top: 70px;
  width: 45%;
  margin-left: 27.5%;
  line-height: 46px;
  
  h3 {
    text-transform: uppercase;
    font-family: $header-font;
    font-size: $header-font-size;
    font-weight: 300;
    color: $font-faded;
    margin: 100px 0 20px 0;

    .screenshots &,
    .quotes & {
      color: #fff;
    }

  }
  
  h4 {
    font-family: $main-font;
    font-size: $subheader-font-size;
    font-weight: 300;
    color: $font-lightgrey;
    
    margin: 20px 0;
    
    .quotes & {
      color: #fff;
      color: rgba(255, 255, 255, 0.5)
    }
  }
}