.textGroupTwo {
  display: inline-block;
  width: 30%;
  padding: 50px 30px;

  font-family: $main-font;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: $font-lightgrey;

  h5 {
    font-family: $main-font;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    color: $font-faded;
  }
}

.textGroupThree {
  display: inline-block;
  width: 33%;
  
  .simpleIcon {
    vertical-align: top;
    display: inline-block;
    height: 100%;
    width: 40px;
    padding: 5px;
    color: $icon-color-default;
    font-size: 40px;
  }

  .textContainer {
    vertical-align: top;
    text-align: left;
    display: inline-block;
    width: 240px;
  }
}