
/* clearfix - source: https://css-tricks.com/snippets/css/clear-fix/ */
.cf:before,
.cf:after {
  content: "";
  display: table;
} 
.cf:after {
  clear: both;
}
.cf {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* text */

h1, h2, h3, h4, h5, h6, p, button {
  text-align: center;
}


.btn {
  background-color: $btn-bg-color;
  padding: 1em 2em;
  text-transform: uppercase;
  color: $white;
}