
/* clearfix - source: https://css-tricks.com/snippets/css/clear-fix/ */
.cf:before,
.cf:after {
  content: "";
  display: table;
} 
.cf:after {
  clear: both;
}
.cf {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* Typography */

@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Roboto%20Slab:300,400,500,600,700);

body {
  text-align: center;
  color: $content-text-color;
  font-family: "Roboto";
  font-weight: 400;
}

h4 {
  font-weight: 400;
  font-size: 28px;
}

.content {
  margin-top: $section-height-large; 
}