$purple: #65349c;
$white: #fff;
$off-white: #fafafa;

$section-height-large: 750px;
$section-height-small: 400px;
$section-height-smaller: 250px;

$header-bg-color: $purple;
$content-bg-color: $white;
$footer-bg-color: $white;
$hireme-bg-color: $off-white;