
/* core-colors */

$black: #000;

$bg-white: #fff;
$bg-slightwhite: #fafafa;
$bg-offwhite: #f4f4f4;
$bg-purple: #ba78ff;
$bg-darkgrey: #303841;

$btn-active: #4AE3B5;
$btn-hover: #393e46;

/* font family */
$main-font: "Work Sans", Arial, sans-serif;
$main-font-size: 20px;

$header-font: "Montserrat", Arial, sans-serif;