/*
=======================================
Hire me section
=======================================
*/

.hireme {
  height: $section-height-smaller;
  width: 100%;
  padding-top: $section-padding-smaller;
  background: $off-white; 
}
