.navigation {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  
  height: $nav-height;
  padding: $nav-height-padding;
  
  .brand-logo {
    float: left;
  }
  
  ul {
    list-style: none;
    float: right;
    margin: 0 100px;
    height: 100%;
    
    a {
      cursor: pointer;
    }
    
    li {
      text-decoration: none;
      color: $header-text-color;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      font-weight: 300;
      font-size: 13px;
      margin-left: 50px;
    }
  }
}