// about - profile styles

.profile {
  font-size: 22px;
  
  .img {
    img {
      margin-top: 100px;
      max-height: 175px;
      max-width: 175px;
      border-radius: 50%;

    }
    
    margin-bottom: 50px;
  }

  .name {
    font-size: $about-name-font-size;
    font-weight: 600;
  }

  .role {
    margin-bottom: 25px;
  }

  .about-me {
    text-align: left;
  }

}