/*
=======================
Summary
======================
*/

.summary {
  height: $section-height-smaller;
  width: 100%;
 
  p {
    margin: 100px 150px;
    line-height: 1.75em;
    font-size: 18px;  
  }

}