doctype html
html
  head
    include includes/head.pug
  
  body
    include includes/title.pug

    div#content.content
      include includes/gallery.pug

      include includes/subscribe.pug

      include includes/skills.pug

      include includes/services.pug

      include includes/contact.pug

      include includes/footer.pug

    include includes/js.pug