.toast {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  
  bottom: -100%;
  left: 0;
  
  padding: $entry-padding;
  
  padding: $entry-padding;
  border-radius: 5px;
  font-size: 1.2em;

  border-radius: 5px;
  border: none;
  
  transition: bottom 0.1s linear;
  
  &.success {
    color: $text-submit-success;
    background-color: $bg-submit-success;
    bottom: 0;
  
    transition: bottom 0.1s linear;
  }

  &.error {
    color: $text-submit-error;
    background-color: $bg-submit-error;
    bottom: 0;
  
    transition: bottom 0.1s linear;
  }

  &.warning {
    color: $text-submit-warning;
    background-color: $bg-submit-warning;
    bottom: 0;
  
    transition: bottom 0.1s linear;
  }
} 