/* clearfix - source: https://css-tricks.com/snippets/css/clear-fix/ */
.cf:before,
.cf:after {
  content: "";
  display: table;
} 
.cf:after {
  clear: both;
}
.cf {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/*
 ========================================================
 Grid
 ========================================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
	margin: 0 auto;
	width: 1250px;
	padding-bottom: 70px;
	
	@media all and (max-width: 899px) {
		padding: 0px;
		width: 100%;
	}
	@media all and (min-width: 900px) and (max-width: 1250px) {
		margin: 0 auto;
		width: 900px;
	}
	@media all and (min-width: 1250x) {
		margin: 0 auto;
		width: 1250px;
	}
}

body {
  text-align: center;
  font-family: $main-font;
  font-size: $main-font-size;
}
@media all and (max-width: 899px) {
	.content {
		position: relative;
		top: -235px;
	}
	.content.reflow {
		top: -70px;
	}
}

.segment:focus,
.navigation:focus {
	outline: none;
}

/*
 ========================================================
 Icons
 ========================================================
*/

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?srf3rx');
	src:url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'),
		url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin icomoon() {
	
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

/*
 ======================================================
 Typography
 ======================================================
*/


/*
 ======================================================
 Reusable Elements
 ======================================================
*/

.btn {
	text-transform: uppercase;
	padding: 15px 25px;
	color: #fff;
	letter-spacing: 3px;
	font-size: 12px;
	border: none;
	cursor: pointer;

	&.active {
		background-color: $btn-active;
	}

	&.clear {
		color: $font-faded;
		background-color: transparent;
		border: solid 1px $font-lightgrey;
	}

	&.lrg {
		padding: 20px 32px;
		font-size: 20px;
	}

	&:hover {
		background-color: $btn-hover;
		color: #fff;
		transition: all 0.4s linear;
	}

}

// Customise owl carousel dot styles
.owl-dots {
	display: inline-block;
	margin-top: 40px;
	margin-bottom: 40px;
}
.owl-carousel.owl-theme .owl-dots .owl-dot span {
	background-color: $font-lightgrey;

	.home & {
		background-color: $box-shadow;
	}
}
.owl-carousel.owl-theme .owl-dots .owl-dot.active span, 
.owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
	background-color: $dot-background-active;
	border: 2px solid #fff;

	.home & {
		border: 2px solid #000;
	}
}

