// third party libs
script(src="./js/vendor/jquery-v1.12.5.js")
script(src="./js/vendor/jquery.fancybox-v2.1.4.js")
script(src="./js/vendor/noframework.waypoints.js")

// My JS
script(src="./js/main.js")